# This is an example environment file to configure Jellyfin. Rename this file
# with the `.example` extension removed and it will be automatically "installed"
# into your configuration directory when using the install recipe.

SELFHOST_JELLYFIN_PORT=8096
SELFHOST_JELLYFIN_CONFIG_DIR=/home/username/.jellyfin/config
SELFHOST_JELLYFIN_CACHE_DIR=/home/username/.jellyfin/cache
SELFHOST_JELLYFIN_MEDIA_DIR=/home/username/.jellyfin/media
SELFHOST_MUSIC_DIR=/home/username/music
