# This is an example environment file to configure Navidrome. Rename this file
# with the `.example` extension removed and it will be automatically "installed"
# into your configuration directory when using the install recipe.

SELFHOST_NAVIDROME_PORT=4533
SELFHOST_NAVIDROME_DATA_DIR=/home/username/.navidrome/data

# Optionally, uncomment this line and specify a specific location for music
# for Navidrome (in case it's different than $SELFHOST_MUSIC_DIR; see
# `selfhost.env.example`).
# SELFHOST_NAVIDROME_MUSIC_DIR=/home/username/navidrome-music
